@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

html, body {
  background-color: #1c1917;
  color: #ece6db;
  margin: 0;
  padding: 0;
}

select, input, textarea, button {
  background-color: #292524;
  color: #ece6db;
  border-color: #44403c;
}

option {
  background-color: #292524;
  color: #ece6db;
}
